body {
  width: 100%;
  min-height: 2000px;
  margin: 0; }

.cover {
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black; }

#resumeListPage {
  margin-left: 80px;
  width: 800px; }
  #resumeListPage .titleHolder {
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    height: 100px;
    width: 100%;
    font-smooth: always;
    background-color: black;
    font-family: 'Archivo Black';
    color: white;
    font-size: 100px; }
    #resumeListPage .titleHolder .title {
      position: absolute;
      right: 0;
      top: -20px; }
  #resumeListPage #resumes .resume {
    font-size: 20px;
    width: 100px;
    height: 100px;
    background-color: #003366;
    color: white;
    padding: 5px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer; }
    #resumeListPage #resumes .resume .name {
      width: 900px;
      font-size: 2em; }
    #resumeListPage #resumes .resume .additional {
      display: none; }

#resumePage {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
  background-color: white;
  position: relative;
  margin-left: -500px;
  left: 50%;
  width: 960px;
  height: 100%;
  min-height: 100%;
  min-width: 800px;
  border: black 1px solid; }
  #resumePage .resume {
    margin-bottom: 10px; }
    #resumePage .resume .name {
      text-align: right;
      font-size: 50px; }
    #resumePage .resume .jobTitle {
      text-align: right;
      font-size: 20px; }
    #resumePage .resume .email {
      text-align: right;
      font-size: 20px; }
  #resumePage .skill {
    float: left;
    padding: 10px;
    height: 25px; }
  #resumePage .job {
    padding: 10px; }

#createResume {
  font-size: 20px;
  width: 100px;
  height: 100px;
  background-color: #003366;
  color: white;
  padding: 5px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  color: #003366;
  border: solid black 1px;
  background-color: white;
  font-size: 3em; }
  #createResume .name {
    width: 900px;
    font-size: 2em; }
  #createResume .name {
    width: 900px; }

.headerWrapper {
  margin-top: 15px;
  border-bottom: 1px solid black; }
  .headerWrapper .header {
    font-family: 'Archivo Black';
    font-size: 30px; }
