<!DOCTYPE html>
<html>
<head>
	<title>Resum&eacute;s!</title>
	<link rel="stylesheet" type="text/css" href="css/resume.css" />
	<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="cover"></div>

<div id="resumePage" style="display:none;">
	<div id="resume"></div>
	<div class="headerWrapper"><div class="header">Summary</div></div>
	<div id="mission"></div>
	<div class="headerWrapper"><div class="header">Skills</div></div>
	<div id="skills"></div>
	<div style="clear:both;"></div>
	<div class="headerWrapper"><div class="header">Job history</div></div>
	<div id="jobs"></div>
	<div class="headerWrapper"><div class="header">Education</div></div>
	<div id="education"></div>
	<div class="headerWrapper" style="display:none;"><div class="header">Custom</div></div>
	<div id="custom"></div>
	
</div>

<div id="resumeListPage" style="display:none;">
	<div class="titleHolder">
		<div class="title">Resum&eacute;s</div>
	</div>
	<div id="createResume">
		<div class="name" id="-2">
			Create Resume
		</div>
	</div>
	<div id="resumes"></div>
</div>



<!--  TEMPLATES   -->
<script type="text/template" id="resumesListTemplate">
	<div class="resume" id="<%= id %>">
		<div class="name">
			<%= name %>
		</div>
		<div class="additional">
			<div class="jobTitle">
				<%= job_title %>
			</div>
			<div class="email"> 
				<%= email %>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="resumeHeaderTemplate">
	<div class="resume" id="<%= id %>">
		<div class="name">
			<%= name %>
		</div>
		<div class="jobTitle">
			<%= job_title %>
		</div>
 		<div class="email">
			<%= email %>
		</div>
	</div>
</script>
<script type="text/template" id="missionTemplate">
	<div class="mission" id="<%= id %>">
		<%= statement %>
	</div>
</script>
<script type="text/template" id="skillsTemplate">
	<div class="skill" id="<%= id %>" style="font-size:<%= proficiency * 3%>px;">
		<%= skill %>
	</div>
</script>
<script type="text/template" id="jobsTemplate">
	<div class="job" id="<%= id %>">
		<div style="font-size:20px;"><%= company_name %></div>  
		<div><%= begin_date %> - <%= end_date %></div>
		<%= description%>
		<!-- <%= satisfaction %> -->
	</div>
</script>
<script type="text/template" id="educationTemplate">
	<div class="job" id="<%= id %>">
		<div style="font-size:20px;"><%= school_name %></div> 
		<%= start_date %> - <%= end_date %><br />
		<%= description %>
	</div>
</script>

<script type="text/template" id="customTemplate">
	<div class="custom" id="<%= id %>" style="display:none;">
		<%= title %> --
		<%= text %>
	</div>
</script>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/main.js"></script>
<script src="js/models.js"></script>
<script src="js/collections.js"></script>
<script src="js/views.js"></script>
<script>
	$(document).ready(function() {
		$('.cover').fadeOut(1000, function() {
			$('.cover').remove();
		});
		window.router = new App.Router;
		Backbone.history.start();
	});
</script>
</body>
</html>